* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #beb4ff;
}

.container {
    text-align: center;
    background-color: #6993e7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    
}
.container a{ 
    font-size: 25px;
    color: #ffffff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


h1 {
    margin-bottom: 20px;
    color: #f6efef;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    text-align: left;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #5537db;
    border-radius: 4px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #3827d3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #514ce8;
}
